@font-face {
    font-family: 'Halloween';
    src: url('font/halloween-funtime-font/HalloweenFuntime-JRj0E.ttf') format('truetype');
}

body {
    font-family: 'Halloween', sans-serif;
    text-align: center;
    background-color: #000;
    color: #fff;
}

#game-container {
    max-width: 400px;
    margin: 50px auto;
    position: relative;
}

.result-image {
    position: absolute;
    width: 250px;
    height: 250px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1;
}

#game-board {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 5px;
}

.cell {
    width: 100px;
    height: 100px;
    background-color: #4a4646;
    border: 2px solid #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 24px;
    cursor: pointer;
}

#game-status {
    margin-top: 20px;
}

#reset-button {
    background-color: #FF4500;
    color: #fff;
    padding: 10px 20px;
    font-family: 'Halloween', sans-serif;
    font-size: 16px;
    cursor: pointer;
    border: none;
    border-radius: 20px;
    margin-top: 20px;
    box-shadow: 2px 2px 5px #fff;
    transition: background-color 0.3s, color 0.3s;
}

#reset-button:hover {
    background-color: #fff;
    color: #FF4500;
}

#blood-image {
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1;
}